<h1>Edit Your Post</h1>

<form>
    <label for="title">Title:</label>
    <input id="title" type="text" value="{{post.title}}" required/>
    <p>Posted on {{formatDate post.createdAt}}</p>
    <textarea id="content" required>{{post.content}}</textarea>
    <button id="update-btn">Update Post</button>
    <button id="delete-btn">Delete Post</button>
</form>

<div id="comments">
    <h3>Comments</h3>
    {{#each comments as |comment|}}
        <div>
            <p>{{comment.text}}</p>
            <p>-{{comment.user.username}} on {{formatDate comment.createdAt}}</p>
        </div>
    {{/each}}
</div>

<script src="../js/editPost.js"></script>
{{#if loggedIn}}
    <script src="../js/logout.js"></script>
{{/if}}